body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 15px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.hero {
    text-align: center;
    padding: 30px 0;
}

.galeria img {
    width: 28%;
    margin: 5px;
    border-radius: 10px;
}

.countdown-section {
    background: #111;
    color: #fff;
    padding: 40px;
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.casal, .cerimonia, .presentes {
    padding: 50px 20px;
    text-align: center;
}

.grid-presentes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.grid-presentes .item {
    width: 200px;
}
